.container{
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-image: url('https://cdn.intuji.com/2022/08/Business-Technology-scaled-1.jpeg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.forget-form{
    background-color: rgba(255, 255, 255, 0.95);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    display: flex;
    flex-direction: column;
    height: 350px;
    width: 20%;
}
.forget-button{
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    text-align: center;
    text-decoration: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    border: 1px solid #007bff;
    font-weight: bold;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
}
.forget-button:hover{
    background-color: #0056b3;
    transform: scale(1.05);
}
.forgetpass {
    width: 73%;
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    align-content: center;
    margin-left: 10%;
}
.forgetpass:focus{
    background-color: #eeeeee;
}
.register-header{
    margin-top: 0px;
    margin-bottom: 30px;
}
.labelforgot{
    margin-left: 10%;
    margin-bottom: 2px;
}