.no-text-decoration {
    text-decoration: none;
    color: #333;
}
.no-text-decoration:hover {
    text-decoration: none;
}
.video-slider {
    margin: 20px auto;
}

.carousel .slide iframe {
    display: block;
    margin: 0 auto;
    width: 560px;
}

.carousel .control-arrow, .carousel.carousel-slider .control-arrow {
    background: rgba(0, 0, 0, 0.5);
    margin: 0 455px;
}

.carousel .control-next.control-arrow::before, .carousel .control-prev.control-arrow::before {
    border: solid #fff;
}

.carousel .control-next.control-arrow:hover, .carousel .control-prev.control-arrow:hover {
    background: rgba(0, 0, 0, 0.7);
}

.custom-prev-arrow, .custom-next-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: transparent;
    border: none;
    font-size: 2em;
    color: #007bff;
    cursor: pointer;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.7);
    transition: background-color 0.3s ease;
    margin: auto 450px;
}

.custom-prev-arrow {
    left: -20px;
}

.custom-next-arrow {
    right: -20px;
}

.custom-prev-arrow:hover, .custom-next-arrow:hover {
    background-color: rgba(255, 255, 255, 1);
    color: #0056b3;
}