.no-text-decoration {
    text-decoration: none;
    color: #333;
}
.no-text-decoration:hover {
    text-decoration: none;
}
/* Swiper navigation buttons */
.swiper-button-next,
.swiper-button-prev {
    color: #007bff;
    cursor: pointer;
    z-index: 10;
    margin: 350px;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
    color: #0056b3;
}

.swiper-button-next,
.swiper-button-prev {
    width: 27px;
    height: 44px;
}
.video-slider {
    position: relative;
    width: 100%;
    height: auto;
    margin-top: 20px;
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-button-next,
.swiper-button-prev {
    color: #007bff;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
    color: #0056b3;
}
