/* src/stilovi/Calculator.css */

.calculator {
    padding: 20px;
    text-align: center;
}

.calculator-header {
    margin-bottom: 20px;
}

.calculator-header h1 {
    font-size: 2em;
    margin-bottom: 10px;
}

.calculator-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.calculator-selection {
    display: flex;
    width: 100%;
    margin-left: 96.5vh;
    gap: 16px;
    margin-bottom: 20px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-button {
    background-color: #f1f1f1;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

.dropdown-button:hover {
    background-color: #ddd;
}

.calculator-table {
    width: 100%;
    max-width: 800px;
    overflow-x: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f1f1f1;
}

.note {
    font-size: 0.9em;
    color: #555;
}
.mjerno-mjesto{
    background-color: lightgray;
    text-align: center;
    border: 2px solid black;
}
td input{
    width: 30%;
    height: 20px;
    border: 2px solid #ddd;
    border-radius: 8px;
}
